name: Forebet Scraper Diário

on:
  schedule:
    - cron: "0 10 * * *" # todo dia 10h UTC (7h Brasil)
  workflow_dispatch:

jobs:
  scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar scraper
        env:
          RENDER_ENDPOINT: ${{ secrets.RENDER_ENDPOINT }}
        run: |
          python scraper.py
